services:
  wodbooker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wodbooker
    restart: always
    ports:
      - "5100:5000"
    environment:
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - EMAIL_SENDER=${EMAIL_SENDER}
      - EMAIL_HOST=${EMAIL_HOST}
      - PRIORITY_USERS_EMAILS=${PRIORITY_USERS_EMAILS}
      - BOOKING_WHITELIST_EMAILS=${BOOKING_WHITELIST_EMAILS}
    volumes:
      - .:/app
    networks:
      - wodbooker-network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx-wodbooker
    restart: always
    volumes:
      - ./nginx:/etc/nginx
      - ./nginx/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    networks:
      - wodbooker-network

networks:
  wodbooker-network:
    driver: bridge
