sqlalchemy==2.0.25
lxml
beautifulsoup4==4.12.2
Flask==3.0.0
Flask-Admin==1.6.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-wtf==1.2.1
requests==2.31.0
sseclient-py==1.8.0
pytz==2023.3.post1
flask-babel==4.0.0
func-timeout==4.3.5
EmailMessage==0.2.1
cloudscraper==1.2.71
# pywebpush==1.14.0
# Downloading from github to fix
# TypeError: curve must be an EllipticCurve instance error
pywebpush @ git+https://github.com/web-push-libs/pywebpush.git
py-vapid==1.9.2
