{% import 'admin/lib.html' as lib with context %}

{% macro link(action, url, icon_class=None) %}
<a class="icon" href="{{ url }}" title="{{ action.title or '' }}">
  <span class="{{ icon_class or action.icon_class }}"></span>
</a>
{% endmacro %}

{% macro view_row(action, row_id, row) %}
  {{ link(action, get_url('.details_view', id=row_id, url=return_url), 'fa fa-eye glyphicon glyphicon-eye-open') }}
{% endmacro %}

{% macro view_row_popup(action, row_id, row) %}
  {{ lib.add_modal_button(url=get_url('.details_view', id=row_id, url=return_url, modal=True), title=action.title, content='<span class="fa fa-eye glyphicon glyphicon-eye-open"></span>') }}
{% endmacro %}

{% macro edit_row(action, row_id, row) %}
  <a class="btn btn-primary btn btn-primary justify-content-center align-self-center" style="margin-right: 5px;" href="{{ get_url('.edit_view', id=row_id, url=return_url) }}" role="button"><i class="bi bi-pencil-fill"></i></a>
{% endmacro %}

{% macro edit_row_popup(action, row_id, row) %}
  {{ lib.add_modal_button(url=get_url('.edit_view', id=row_id, url=return_url, modal=True), title=action.title, content='<span class="fa fa-pencil glyphicon glyphicon-pencil"></span>') }}
{% endmacro %}

{% macro delete_row(action, row_id, row) %}
<form class="justify-content-center align-self-center" method="POST" action="{{ get_url('.delete_view') }}">
  {{ delete_form.id(value=get_pk_value(row)) }}
  {{ delete_form.url(value=return_url) }}
  {% if delete_form.csrf_token %}
  {{ delete_form.csrf_token }}
  {% elif csrf_token %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  {% endif %}
  <button onclick="return faHelpers.safeConfirm('¿Estás seguro de que quieres borrar esta reserva?');" title="{{ _gettext('Delete record') }}" class="btn btn-danger">
    <i class="bi bi-trash-fill"></i>
  </button>
</form>
{% endmacro %}

{% macro swtich_active(action, row_id, row) %}
<form class="justify-content-center align-self-center" style="margin-right: 5px;" method="POST" action="{{ get_url('.switch_active') }}">
  {% if csrf_token %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  {% endif %}
  <input type="hidden" name="row_id" value="{{ get_pk_value(row) }}"/>
  {% if row["is_active"] %}
    <button title="{{ _gettext('Deactivate record') }}" class="btn btn-success">
      <i class="bi bi bi-toggle-on"></i>
    </button>
  {% else %}
    <button title="{{ _gettext('Activate record') }}" class="btn btn-secondary">
      <i class="bi bi bi-toggle-off"></i>
    </button>
  {% endif %}
</form>
{% endmacro %}