{% extends 'admin/model/list.html' %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}
{% block model_menu_bar %}
  {% set error_ns = namespace(error=False) %}
  {% for row in data %}
    {% if row['is_active'] and not row['is_thread_active'] %}
      {% set error_ns.error = True %}
    {% endif %}
  {% endfor %}
  {% if error_ns.error %}
    <div class="alert alert-warning" role="alert">
      <h3>Debes revisar tus reservas</h3>
      <p>Las reservas marcadas con el símbolo <i style="color: #ffd241" class="bi bi-exclamation-triangle-fill"></i> están desactivadas porque se produjo algún error con las mismas. Para que vuelvan a estar activas, revisa el estado de las mismas y corrige los errores. Si el problema es derivado de que la sesión caducó, simplemente desactiva la reserva y vuelve a activarla.</p>
    </div>
  {% endif %}
  <div>
    <p class="text-right"><a class="btn btn-primary" href="{{ get_url('.create_view', url=return_url, modal=True) }}" role="button"><i class="bi bi-plus-square-fill"></i> Nueva Reserva</a></p>
  </div>
{% endblock %}
{% block model_list_table %}
  {% if not data %}
    <div class="alert alert-info" role="alert">
        <i class="bi bi-info-square"></i> Aún no tienes reservas creadas. Crea tu primera reserva <a href="{{ get_url('.create_view', url=return_url, modal=True) }}">aquí</a>.
    </div>
  {% else %}
    <div class="accordion" id="bookingsAccordion">
      {% for row in data %}
        <div class="card">
          <div class="card-header d-flex justify-content-between" id="heading{{row['id']}}">
            <h2 class="mb-0 mr-auto">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{row['id']}}" aria-expanded="true" aria-controls="collapse{{row['id']}}">
                  <h4 style="margin-bottom: 0px;">{{ get_value(row, 'dow') }} {{ get_value(row, 'time') }}
                    {% if row['is_active'] and not row['is_thread_active'] %}
                      <i style="color: #ffd241" class="bi bi-exclamation-triangle-fill"></i>
                    {% endif %}
                  </h4>
              </button>
            </h2>
            {{ list_row_actions[2].render_ctx(get_pk_value(row), row) }}
            {{ list_row_actions[0].render_ctx(get_pk_value(row), row) }}
            {{ list_row_actions[1].render_ctx(get_pk_value(row), row) }}
          </div>
    
          <div id="collapse{{row['id']}}" class="collapse" aria-labelledby="heading{{row['id']}}" data-parent="#bookingsAccordion">
            <div class="card-body">
              <div class="container-fluid">
                <p>
                  <b>Box</b><br/>
                  <i class="bi bi-box-arrow-in-up-right"></i> <a href="{{ get_value(row, 'url') }}" target="_blank">{{ get_value(row, 'url') }}</a> 
                </p>
                <p>
                  <b>Activo</b><br/>
                  {{ "Sí" if row["is_active"] else "No" }}
                </p>
                <p>
                  <b>Apertura de reservas</b><br/>
                  {{ get_value(row, 'offset') }} a las {{ get_value(row, 'available_at') }}
                </p>  
                <p>
                  <b>Última reserva realizada</b><br/>
                  {% if row['last_book_date'] %}
                    {{ get_value(row, 'last_book_date') }}
                  {% else %}
                    <i>Ninguna</i>
                  {% endif %}
                </p>  
                <p>
                  <b>Estado</b><br/>
                  {% if row['last_events'] %}
                    {{ row['last_events'][0]['date'].strftime('%d/%m/%Y %H:%M') }}: 
                    {% for event in row['last_events'] %}
                      {{ event['event'].rstrip(".") }}.
                    {% endfor %}
                    <br /><a href="/event/?search=%3D{{row['id']}}">Ver todos <i class="bi bi-arrow-up-right"></i></a>
                  {% else %}
                    <i>Aún no hay eventos registrados para esta reserva. Los eventos aparecerán aquí cuando la reserva esté activa según vayan ocurriendo.</i>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  {% endif %}  
{% endblock %}